include header 
body 
    include navbar 
    h2.display-4.text-center Ro'yxatdan o'tish 
    form.pt-5(method="POST")
    .mb-3.m-auto.mx-5.py-2
      label(for='exampleInputEmail1') Ismi:
      input#exampleInputComment.form-control(type='text' name='name' )
    .mb-3.mx-5
      label(for='exampleInputPassword1') Familiyasi:
      input#exampleInputname.form-control(type='text' name='surname' )
    .mb-3.mx-5
      label(for='exampleInputPassword1') Login:
      input#exampleInputmanufacture.form-control(type='text' name='username'  )
    .mb-3.mx-5
      label(for='exampleCheck1') Parol:
      input#exampleprice.form-control(type='password' name='password' )
    .mb-3.mx-5
      label(for='views') Parolni  takrorlash:
      input#exampleviews.form-control(type='password' name='password' )
    .mb-3.mx-5
        button.btn.btn-primary.my-5(type='submit') Tasdiqlash 
    
    